<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MemoryMatchEntities" connectionString="metadata=res://*/MemoryMatch.csdl|res://*/MemoryMatch.ssdl|res://*/MemoryMatch.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SqlExpress;initial catalog=MemoryMatch;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>